@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 /* 2 */
* { /* 1 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; /* 3 */
}

body {
    display: flex;
    justify-content: center;  /* 4 */
    align-items: center; /* 5 */
    min-height: 100vh; /* 6 */
    background: url("img/img.jpeg"); /* 7 */ /* background: url('./img/img.jpg'); */
    background-size: cover; /* 8 */
    background-position: center; /* 9 */
}

.conteudo {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px; /* 10 */
    color: white;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px); /* 22 */
}

.conteudo h1 {
    font-size: 36px;
    text-align: center;
}

.informarDados {
    position: relative; /* 11 */
    width: 100%;
    height: 50px;
    margin: 30px 0;
    background-color: gray;
    border-radius: 40px;
}

.informarDados input { /* 12 */
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: black;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none; /* 13 */
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
    cursor: pointer;
}

.informarDados input::placeholder {
    color: white;
}

.informarDados i {
    position: absolute; /* 14 */
    right: 20px; /* 15 */
    font-size: 20px;
    top: 50%; /* 16 */
    transform: translateY(-50%); /* 17 */
}

.lembrarOuMudarSenha {
    display: flex;
    justify-content: space-between; /* 18 */
    margin: -15px 0 15px;
}

.lembrarOuMudarSenha label input {
    accent-color: white; /* 19 */ /* COR CAIXINHA INPUT */
    margin-right: 5px;
}

.lembrarOuMudarSenha a {
    text-decoration: none; /* 20 */
    color: white;
}

.lembrarOuMudarSenha a:hover { /* 21 */
    text-decoration: underline;

}

.login {
    width: 100%;
    height: 50px;
    background-color: gray;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 20px;
}

.login:hover {
    background-color: goldenrod;
    border: 2px solid rgba(255, 255, 255, .2);
    transition: 0.5s;
}

.linkDeRegistro {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.linkDeRegistro a {
    text-decoration: none;
    color: goldenrod;
    font-weight: 600;
}

.linkDeRegistro a:hover {
    text-decoration: underline;
}