* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; /* FONTE DOS TEXTOS */
}

body {
    background-image: url("img/mapa3.avif"); /* IMAGEM DE FUNDO */
    background-size: cover; /* 1 */ 
    background-position: center; /* 2 */
    height: 100vh; /* 3 */
    display: flex;
    align-items: center; /* 4 */
    justify-content: center; /* 5 */
}

.logo {
    position: fixed;
    top: 20px;
    left: 20px; /* troque para right se quiser no outro lado */
    width: 80px; /* ajuste o tamanho */
    z-index: 10; /* garante que fique acima de tudo */
    border-radius: 30%;
}

.tituloPrincipal {
    color: goldenrod;
    position: fixed;
    top: 35px;
    left: 13.5%;
    transform: translateX(-50%);
    font-size: 32px;
    font-weight: bold;
    z-index: 10;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.areaDePreenchimento {
    background-color: #000000f2;
    width: 450px; /* 6 */
    border-radius: 25px; /* 7 */
    padding: 20px; /* 8 */
}

.informarTexto {
    width: 100%;
    height: 100px;
    border: none;
    outline: none; /* 9 */
    background-color: #ffffff1a;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
    padding: 15px;
}

.areaDeComandos {
    display: flex;
    align-items: center;
    gap: 10px; /* 10 */
    margin-top: 20px;
    margin-bottom: 20px;
}

.escolherIdioma {
    width: 100%;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    background-color: #ffffff1a;
    color: #ffffff;
}

.escolherIdioma option {
  background-color: #000000f2;
  color: #ffffff;
}

button {
    border: none;
    padding: 10px;
    background-color: #ffffff1a;
    border-radius: 20px;
    cursor: pointer;
}

.botaoTraduzir {
    color: #ffffff;
    font-weight: bold;
}

.botaoMicrofone {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.botaoMicrofone img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.areaDeResultado {
    padding: 15px;
    background-color: #ffffff1a;
    border-radius: 15px;
}

.localDaTraducao {
    color: #ffffff99;
    font-size: 14px;
    margin-bottom: 10px;
}

.resultadoDaTraducao {
    color: #ffffff;
    font-size: 18px;
}